body {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  letter-spacing: 0.05em;
}
nav {
  /*fixed nav*/
  position: fixed;
  top: 0px;
  width: 100%;

  display: grid;

  grid-template-rows: auto;
  grid-template-columns: auto 60.9375em;/*975px/16px*//*975px/html{font-size}*/
  justify-content: space-between;

  background-color: rgba(51, 47, 43, 0.5);

  font-size: 1em;/*1920:16px*//*html{font-size}*/
  /*line-height: 10em;*/
}
@media screen and (min-width: 481px) {
  nav .links {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*//*proportional*/
    grid-auto-flow: column;/*or equal size of column*/
  }
}
nav .links a {
  text-align: center;

  line-height: 10rem;


  font-size: 1.5625em;/*25px/16px*//*25px/html{font-size} or nav{font-size}*/
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  /*border: 1px solid black;*//*for testing*/
  /*background-color: rgba(89, 85, 81, 0.5);/*for testing*/*/
}
nav .links a:hover {
  background-color: rgba(89, 85, 81, 0.5);
  /*border: 1px solid red;/*for testing*/*/
}
nav .logo {
  padding: 1.46875em;/*23.5px/16px*//*23.5px/nav{font-size}*/
  line-height: 0;
}
nav .logo img {
  width: 27.8125em;/*445px/16px*/
  height: 7.0625em;/*113px/16px*/
}
a[href="#toggler"] {
  display: none;
}
@media screen and (max-width: 1900px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 1700px) {
  html {
    font-size: 13.5px;
  }
}
@media screen and (max-width: 1500px) {
  html {
    font-size: 11.5px;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 8.5px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  nav {
    position: static;
    background-color: rgba(51, 47, 43, 1.0);


    display: block;
  }
  nav .logo {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 10.5px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 480px) {
  html {
  }
  nav {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: initial;
  }
  nav .logo {
    /*23.5px/16px*//*23.5px/nav{font-size}*/
    padding: 1.46875em;
    text-align: left;
    width: auto;
  }
  nav a[href="#toggler"], nav .links a {
    display: inline-block;

    text-align: center;
    line-height: 10rem;

    font-size: 3em;
    text-decoration: none;
    color: #fff;
  }
  a #close-nav {
    display: none;
  }
  .links {
    grid-row: 2;
    grid-column: 1/3;

    display: none;
    grid-auto-flow: row;
  }
}
